{% extends "base.html" %}
{% block main_content %}
    {% load static %}

    <!-- Start Add Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Add photo</h2>
        <!-- Start Add Photo Form -->
        <form action="{% url 'create photo' %}" method="post" enctype="multipart/form-data">
            {{ photo_form.as_p }}

            {% csrf_token %}
            <!-- Add Photo Button -->
            <button class="add-btn" type="submit">Add Photo</button>
        </form>
        <!-- End Add Photo Form -->
    </div>

{% endblock %}
